@page "/"
@layout LoginLayout

@inject HttpClient httpClient
@using LoginBlazorApp.Shared
@using LoginBlazorApp.Client.Extensiones
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autrnticationProvider
@inject NavigationManager navManager

<h3>Login</h3>

@code {

}
